{% extends 'index/layout.html' %}
{% load static %}
{% block script %}
<script src = "{% static 'index/index.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}" defer></script>
{% endblock %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>How to Create a Form - ICDS Gujarat Data Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<div class="container-fluid">
   
		<div class="box box-shadow margin-top-bottom">
	<main>
		<h2>Introducation</h2>
		<p>અમારી Website સાથે, ICDS વિભાગમાંથી કોઈપણ વ્યક્તિ જીલ્લા, તાલુકા, બ્લોક, સેક્ટર અને AWC સ્તર સુધીના ઇનબિલ્ટ ડેટા સાથે ફોર્મ બનાવી શકે છે. આની મદદથી તમે તમારી જરૂરિયાત મુજબ સ્ટ્રક્ચર્ડ ડેટા મેળવી શકો છો. અહીં પહેલાની પસંદગીઓના આધારે વિકલ્પો પસંદ કરી શકો છો, ડેટા ફિલ્ટર કરવાનું સરળ બનાવે છે.આંગણવાડી કાર્યકરો અને તેમના લાભાર્થીઓ તેમજ તારીખ, મોબાઈલ નંબર અને આધાર ક્ષેત્રોને લગતા ટૂંકા પ્રશ્નો પણ ઉમેરી શકે છે. એકવાર ફોર્મ પૂર્ણ થઈ જાય, પછી તમે માહિતી ભરવા માટે આંગણવાડી કાર્યકરો અથવા સંબંધિત લોકોને એક લિંક મોકલી શકો છો.</p>
<p>અમારી એપ્લિકેશન સેક્ટર અને બ્લોક લેવલ પર ડેટા એન્ટ્રીના બોજને ઘટાડવા અને સર્જક સ્ટાફ માટે ડેટા કમ્પાઇલ કરવાનું સરળ બનાવવા માટે ડિઝાઇન કરવામાં આવી છે. ગુજરાતમાં 57,000 થી વધુ આંગણવાડી કાર્યકરો સાથે, અમારી એપ્લિકેશન તમામ સ્તરના કર્મચારીઓનો સમય અને પ્રયત્ન બચાવશે.</p>
<h2>ફોર્મ કેવી રીતે બનાવવું</h2>
<p> ફોર્મ બનાવવા માટે પહેલા તમારે રજીસ્ટર કરવાની જરૂર છે</p>
<P>એકવાર તમે રજીસ્ટર કરો પછી તમે લોગિન પેજમાં યુઝરનેમ અને પાસવર્ડ ભરી શકો છો અને પછી લોગિન બટન પર ક્લિક કરીને લોગિન કરી શકો છો. </P>
<P> સફળ લૉગિન પછી તમે મુખ્ય પૃષ્ઠ પર જશો જ્યાં તમે નવું ફોર્મ શરૂ/બનાવો માટે વિકલ્પ જોઈ શકો છો. નવું ફોર્મ બનાવો વિકલ્પ હેઠળ, તમે અગાઉ બનાવેલ અન્ય ફોર્મ જો કોઈ હોય તો જોઈ શકો છો. </p>
<P> સૌપ્રથમ તમારે પ્રશ્નોના પ્રકાર ડ્રોપડાઉન સૂચિમાંથી જિલ્લા ક્ષેત્ર ઉમેરવાની જરૂર છે જ્યાં તમે અન્ય પ્રકારના પ્રશ્નો શોધી શકો છો જેમ કે બહુવિધ પસંદગી બોક્સ, ટૂંકા જવાબ, જિલ્લો, તાલુકા, બ્લોક, સેક્ટર, AWC (આંગણવાડી કેન્દ્ર), મોબાઇલ નંબર, તારીખ. (જન્મ તારીખ, જોડાવાની તારીખ અથવા અન્ય કોઈપણ તારીખ માટે) વગેરે.
</p>
<p> પ્રશ્નો ઉમેર્યા પછી તમારે શીર્ષક વિનાના પ્રશ્નનું નામ તમારા ઇચ્છિત પ્રશ્નના નામમાં બદલવાની જરૂર છે જેમ કે જો ડ્રોપડાઉન સૂચિમાંથી જિલ્લા ઉમેરું તો હું મારા શીર્ષક વિનાના પ્રશ્નને "જિલ્લો" નામ આપીશ.
</p>
<P></P>
	
	</main>


		</div></div>
	<footer>
		<p>&copy; 2023 Data Form With SV</p>
	</footer>
</body>
</html>

{% endblock %}