{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data form{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'index/HurlUI.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <!-- Add Bootstrap CSS for mobile-friendly layout -->
    <style>
      ul {
        background-color: #f1f1f1; /* set the background color to light gray */
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block script %}
    {% endblock %}
</head>
<body>
    <!-- Add Navbar for login/logout button and SEO keywords -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
       
       

        <div class="sidebar" id = "sidebar">
          <span class="close-sidebar" id="close-sidebar">&times;</span>
          <div class="sidebar-content">
              <h4 class="sidebar-title">
                  <a href = "{% url 'index' %}" class="sidebar-title-link">
                      <span>Data form with District Mapping</span>
                  </a>
                </h4>
                <ul>
                  {% if user.is_authenticated %}
                  <li class="sidebar-item">  
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                {%else%}
                <li class="sidebar-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
             
                <li class="sidebar-item">
                  <a class="nav-link" href="/howtocreate">How To Create Data Form</a>
                </li>
                
              </ul>
            
         

             
            
              
          </div>
      </div>



       
    </div>
  </nav>
    <!-- <div class="sidebar" id = "sidebar">
        <span class="close-sidebar" id="close-sidebar">&times;</span>
        <div class="sidebar-content">
            <h4 class="sidebar-title">
                <a href = "{% url 'index' %}" class="sidebar-title-link">
                    <span>Data form with District Mapping</span>
                </a>
            </h4>
            
        </div>
    </div> -->
    
    
    {% block body %}
    {% endblock %}
    <!-- Add Bootstrap JS for mobile-friendly layout -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
