{% extends 'index/layout.html' %}
{% load static %}

{% block title %}{{form.title}} ~ Data form{% endblock %}
{% block script %}
<script src="{% static 'index/viewform.js' %}" defer></script>
<script src="https://unpkg.com/htmx.org@1.8.6"></script>

{% endblock %}
{% block body %}
<div class="container-fluid">
    <form class="container" method="POST"  action="{% url 'submit_form' form.code %}" enctype="multipart/form-data"  autocomplete="off">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        {% csrf_token %}
        <div class="margin-top-bottom box question-box">
            <div class="form-title-box">
                <h1 class="form-title txtClr">{{form.title}}</h1>
                <p class="required-info">* Required</p>
            </div>
            <div class="form-description txtClr">{{form.description|linebreaksbr}}</div>
        </div>
        {% if form.collect_email %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">Email address: <span class="require-star">*</span></h1>
            <input type="email" name="email-address" class="short-answer" placeholder="Your email address" required>
        </div>
        {% endif %}
        
      
        
        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}</h1>
            {% if question.question_type == "short" %}
                <input type="text" name="{{question.id}}" class="short-answer" placeholder = "Your answer" {% if question.required %} required {% endif %}>
            {% elif question.question_type == "mobile" %}
            <input type="text" pattern="[1-9]{1}[0-9]{9}"title="Please enter exactly 10 digits" name="{{question.id}}" class="short-answer" placeholder = "Mobile Number" {% if question.required %} required {% endif %} required>
            {% elif question.question_type == "aadhar" %}
            <input input type="text" pattern="\d{12}" title="Please enter a 12-digit number" name="{{question.id}}" class="short-answer" placeholder = "Aadhar number" {% if question.required %} required {% endif %} required>
            
            {% elif question.question_type == "date" %}
            <input type="date" "title="Please enter Date" name="{{question.id}}" class="short-answer" placeholder = "Date" {% if question.required %} required {% endif %} required>
            
            {% elif question.question_type == "paragraph" %}
                <textarea name="{{question.id}}" placeholder="Your answer" class="long-answer textarea-adjust" {% if question.required %} required {% endif %}></textarea>
            {% elif question.question_type == "multiple choice" %}
                {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}
            {% elif question.question_type == "checkbox" %}
                {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}

            {% elif question.question_type == "districts" %}
                        
                       
                <div class="multiple-choice">
                  
                <select class="custum-select mb-4"
                    name="{{question.id}}" 
                   hx-get = "{% url 'talukas' %}"
                   hx-trigger="change"
                   hx-target="#talukas"> 
                    <option selected value="0"> Select District</option>
                    {% for d in districts %}
                    <option value="{{ d.pk }}"> {{d.name }} </option>
                    {% endfor %}
                </select>

                
                </div>

                {% elif question.question_type == "talukas" %}
                
                       
                <div id="talukas" name= "{{question.id}}" >

                    {% include 'partials/taluka.html'%}
                </div>

                {% elif question.question_type == "blocks" %}
                
                        
                <div id="blockes" name= "{{question.id}}" >
                    {% include 'partials/block.html'%}
                </div>      

               

                {% elif question.question_type == "sectors" %}
                
                <div id="sectors">
                    {% include 'partials/sector.html'%}
                </div>
                {% elif question.question_type == "villages" %}
                
                <div id="villages">
                    {% include 'partials/village.html'%}
                </div>
                {% elif question.question_type == "awcs" %}
                
                <div id="awcs">
                    {% include 'partials/awc.html'%}
                </div>   
                
                {% elif question.question_type == "picture" %}
                
                <div id="picture">
                      <!-- Add an element to preview the captured image -->
    <div class="margin-top-bottom box question-box">
        <h1 class="question-title txtClr">Take a picture:</h1>
        <video id="video" width="100%" height="auto" autoplay required></video>
        <button id="capture" class="btn btn-primary" type="button">Capture</button>
        <br>
        <canvas id="canvas" style="display:none;"></canvas>
        <img id="image-preview" style="max-width: 100%; margin-top: 10px;" required>
        <input type="hidden" id="image-input" name="picture" required>
    </div>
                </div>  
                
                
               
                  
                    
            {% endif %}
           
        </div>
        {% endfor %}
        
        <div class="margin-top-bottom">
            <input type="submit" value="Submit" class="btn btn-submit">
        </div>
    </form>
    

       

    
    </div>
    {% if user == form.creator %}
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'Icon/question.png' %}" alt="Edit Question" title="Edit this form" class="edit-form-link">
        </a>
    {% endif %}
</div>
{% load django_htmx %}
{% django_htmx_script %}
<script>
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const captureButton = document.getElementById('capture');
    const imageInput = document.getElementById('image-input');
    const imagePreview = document.getElementById('image-preview');

    navigator.mediaDevices.getUserMedia({ video: true,
    facingMode:"environment" })
    .then((stream) => {
        video.srcObject = stream;
    })
    .catch((err) => {
        console.error(err);
    });

    captureButton.addEventListener('click', () => {
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        const imageData = canvas.toDataURL();
        imageInput.value = imageData;
        imagePreview.src = imageData;
    });
</script>
{% endblock %}